* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', monospace;
  background: #060810;
  color: #eaeaea;
  min-height: 100vh;
}

/* Background glow */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 20% 50%, rgba(0,255,136,0.05), transparent 50%),
    radial-gradient(circle at 80% 20%, rgba(0,180,255,0.05), transparent 50%);
  z-index: 0;
}

/* LOGIN */
#loginScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.logo-label {
  color: #00ff88;
  font-size: 12px;
  letter-spacing: 3px;
}

.logo-title {
  font-size: 32px;
  letter-spacing: 6px;
  margin: 10px 0;
}

.status-badge {
  color: #00ff88;
  font-size: 11px;
  border: 1px solid #00ff88;
  padding: 5px 12px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.login-card {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

.field-label {
  font-size: 10px;
  margin-bottom: 5px;
  color: #888;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #000;
  border: 1px solid #333;
  color: white;
  border-radius: 5px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #00ff88;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* CHAT */
.chat-container {
  display: none;
  flex-direction: column;
  height: 100vh;
}

.chat-container.active {
  display: flex;
}

.chat-header {
  padding: 15px;
  border-bottom: 1px solid #222;
  display: flex;
  align-items: center;
  gap: 10px;
}

.room-dot {
  width: 8px;
  height: 8px;
  background: #00ff88;
  border-radius: 50%;
}

.header-right {
  margin-left: auto;
  color: #00ff88;
}

/* CHAT BOX */
.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* MESSAGE */
.msg-row {
  max-width: 70%;
  margin-bottom: 10px;
}

.msg-row.self {
  margin-left: auto;
  text-align: right;
}

.msg-row.other {
  margin-right: auto;
}

.msg-name {
  font-size: 10px;
  color: #aaa;
}

.msg-bubble {
  padding: 10px;
  background: #111;
  border-radius: 6px;
}

.msg-time {
  font-size: 8px;
  color: #555;
}

/* SYSTEM */
.sys-msg {
  text-align: center;
  font-size: 10px;
  color: #777;
}

/* INPUT AREA */
.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #222;
}

.input-area input {
  flex: 1;
  margin: 0;
}

#sendBtn {
  width: 60px;
  margin-left: 10px;
}