body{
background:#0a0a0a;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#111;
padding:15px;
text-align:center;
font-size:20px;
box-shadow:0 0 10px cyan;
}

.room{
text-align:center;
margin:20px;
}

#chat{
height:60vh;
overflow-y:auto;
padding:20px;
}

.message{
background:#111;
border:1px solid cyan;
padding:10px;
margin:10px;
border-radius:10px;
max-width:60%;
animation:fade .3s;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
}
}

.inputArea{
position:fixed;
bottom:0;
width:100%;
background:#111;
padding:10px;
display:flex;
gap:10px;
}

input{
padding:10px;
background:#000;
border:1px solid cyan;
color:white;
}

button{
background:cyan;
border:none;
padding:10px;
cursor:pointer;
}

button:hover{
box-shadow:0 0 10px cyan;
}

#typing{
color:cyan;
margin-left:20px;
}
