body{
background:#0a0a0a;
color:white;
font-family:Segoe UI;
margin:0;
}

header{
background:#111;
padding:15px;
text-align:center;
font-size:20px;
box-shadow:0 0 10px cyan;
}

.room{
display:flex;
gap:10px;
justify-content:center;
padding:10px;
}

#chat{
display:flex;
flex-direction:column;
gap:12px;
padding:20px;
height:70vh;
overflow-y:auto;
}

/* message bubble */

.message{
padding:12px;
border-radius:12px;
max-width:60%;
display:flex;
flex-direction:column;
animation:fade .2s ease;
}

/* your message */

.myMessage{
background:#00bcd4;
color:black;
align-self:flex-end;
}

/* partner message */

.otherMessage{
background:#1e1e1e;
border:1px solid cyan;
align-self:flex-start;
}

.msgHeader{
display:flex;
align-items:center;
gap:8px;
font-size:12px;
font-weight:bold;
margin-bottom:5px;
}

.avatar{
width:20px;
height:20px;
border-radius:50%;
}

.msgText{
font-size:15px;
}

.msgFooter{
display:flex;
justify-content:space-between;
font-size:10px;
margin-top:5px;
opacity:.8;
}

.msgTime{
font-size:10px;
}

.ticks{
color:#00ff90;
}

/* typing indicator */

#typing{
padding-left:20px;
font-size:13px;
color:cyan;
}

/* input area */

.inputArea{
position:fixed;
bottom:0;
width:100%;
background:#111;
padding:10px;
display:flex;
gap:10px;
}

input{
padding:10px;
background:#000;
border:1px solid cyan;
color:white;
flex:1;
}

button{
background:cyan;
border:none;
padding:10px;
cursor:pointer;
}

button:hover{
box-shadow:0 0 10px cyan;
}

/* animation */

@keyframes fade{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
}
}

/* mobile responsive */

@media(max-width:600px){

.message{
max-width:80%;
}

.room{
flex-direction:column;
}

}
